  <div class="item">
        <div class="lime-logo">
          <img class="main_pictures" src="images/lime-wallet-icons-01.svg" alt="" />
        </div>
      <div class="mid-img">
        <img class="main_pictures" src="images/lime-wallet-icons-04.svg" alt="" />
      </div>
{{!--     <div class="border">
      <img class="pictures" src="https://res.cloudinary.com/lenadi07/image/upload/v1468860232/forCodePen/mobileSlider/thirdSlider/border.png" alt="" />
    </div> --}}
    <div class="mid">
       <h1>Welkome to the Lime Wallet</h1>
     <p>Blocklime solution focuses on certification of wallet addresses on blockchain.</p>
   </div>
 </div>