    <div class="item">
      <div class="lime-logo">
        <img class="main_pictures" src="images/lime-wallet-icons-01.svg" alt="" />
      </div>
      <div class="mid-img">
        <img class="main_pictures" src="images/lime-wallet-icons-02.svg" alt="" />
      </div>
{{!--       <div class="orbit_1 animation">
        <img class="pictures" src="https://res.cloudinary.com/lenadi07/image/upload/v1468859826/forCodePen/mobileSlider/firstSlider/orbit_1.png" alt="" />
      </div>
      <div class="orbit_2">
        <img class="pictures animation_2" src="https://res.cloudinary.com/lenadi07/image/upload/v1468859826/forCodePen/mobileSlider/firstSlider/orbit_2.png" alt="" />
      </div> --}}
      <div class="mid">
         <h1>Welcome to Lime Wallet</h1>
       <p>Blocklime solution focuses on certification of wallet addresses on blockchain</p>
     </div>

    <div class="footer-btn">
      <div class="bc-text btnJump3">Register Digital ID</div>
    </div>
   </div>

