    <div class="item">
      <div class="lime-logo">
        <img class="main_pictures" src="images/lime-wallet-icons-01.svg" alt="" />
      </div>
      <div class="mid-img">
        <img class="main_pictures" src="images/lime-wallet-icons-06.svg" alt="" />
      </div>
{{!--       <div class="orbit_1 animation">
        <img class="pictures" src="https://res.cloudinary.com/lenadi07/image/upload/v1468859826/forCodePen/mobileSlider/firstSlider/orbit_1.png" alt="" />
      </div>
      <div class="orbit_2">
        <img class="pictures animation_2" src="https://res.cloudinary.com/lenadi07/image/upload/v1468859826/forCodePen/mobileSlider/firstSlider/orbit_2.png" alt="" />
      </div> --}}
      <div class="bc-load">
         <h1>Hello Sam!</h1>
       <p>Welcome to Lime Wallet!</p>
       </div>
   </div>