  <div class="item">
    <div class="top-header">
      <i class="customPrevBtn fa fa-long-arrow-left" aria-hidden="true"></i>
      <span>Register Digital ID</span>
    </div>
        <div class="lime-logo">
          <img class="main_pictures" src="images/lime-wallet-icons-14.svg" alt="" />
        </div>
        <div class="mid-head">
           <h1>Select Your ID Provider</h1>
        </div>
      <div class="mid-img">
        <img class="main_pictures next" src="images/floc.jpg" alt="" />
        <br>
        <img class="main_pictures bc-spacer-t-p-10" src="images/digital-id.jpeg" alt="" />
        <br>
        <img class="main_pictures bc-spacer-t-p-10" src="images/yoti.png" alt="" />
      </div>
      
{{!--     <div class="border">
      <img class="pictures" src="https://res.cloudinary.com/lenadi07/image/upload/v1468860232/forCodePen/mobileSlider/thirdSlider/border.png" alt="" />
    </div> --}}

 </div>