      <div class="item">
        <div class="mountains">
          <img class="mountains_img" src="https://res.cloudinary.com/lenadi07/image/upload/v1468860109/forCodePen/mobileSlider/secondSlider/main.png" alt="" />
        </div>
        <div class="orbit_2">
          <img class="pictures animation_3" src="https://res.cloudinary.com/lenadi07/image/upload/v1468860109/forCodePen/mobileSlider/secondSlider/orbit_1.png" alt="" />
        </div>
        <div class="mid">
            <h1>Welkome to the Webmodeler</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>