  <div class="item">
    <div class="top-header-blue">
      <i class="customPrevBtn fa fa-long-arrow-left" aria-hidden="true"></i>
      <span>Register Digital ID</span>
    </div>
        <div class="lime-logo bc-spacer-t-p-50">
          <img class="main_pictures" src="images/floc.jpg" alt="" />
        </div>
              <div class="mid-head">
           <h1>Allow Lime Wallet to access your FLOC ID profile?</h1>
        </div>
        <div class="lime-button">
          <button class="btnJump6 left-btn">No Return</button>
          <button class="btnJump7 right-btn">Yes Proceed</button>
        </div>
{{!--     <div class="border">
      <img class="pictures" src="https://res.cloudinary.com/lenadi07/image/upload/v1468860232/forCodePen/mobileSlider/thirdSlider/border.png" alt="" />
    </div> --}}

 </div>