  <div class="item">
    <div class="top-header bc-spacer-b-m-170">
      <span>Send</span>
    </div>
        <div class="lime-logo">
          <img class="main_pictures" src="images/lime-wallet-icons-10.svg" alt="" />
        </div>
        <div class="mid-head history-wrapper bc-spacer-t-m-40 transaction-blocked">
           <h1>Transaction Blocked</h1>  
        </div>
{{!--     <div class="border">
      <img class="pictures" src="https://res.cloudinary.com/lenadi07/image/upload/v1468860232/forCodePen/mobileSlider/thirdSlider/border.png" alt="" />
    </div> --}}

 </div>