<div class="device"> <!--all window-->
    <div class="owl-carousel" id="owl-demo">
      {{> slides/slide-01}}
      {{> slides/slide-02}}
      {{> slides/slide-03}}
    </div>
    <div class="btm customNavigation">
      <button type="button" name="button"><a class="btn next">Next</a></button>
    </div>
  </div>